@import '@fontsource/nunito';
@import '@fontsource/montserrat';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  @apply px-4 sm:px-6 lg:px-8;
}

.page-width {
  @apply w-full 2xl:max-w-[1400px] !mx-auto md:px-[100px] sm:px-[40px] px-[16px];
}
